body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #111010;
    margin: 0;
    padding: 0;
}

body.index-background {
    background-image: url('bg4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #031eb6;
}

.media-section {
    margin: 20px 0;
    text-align: center;
}

.video-wrapper {
    margin-bottom: 10px;
    text-align: center; 
}

h2 {
    margin-bottom: 10px;
    color: #111010;
    text-align: center;
}

audio {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 10px auto;
}

video, img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 10px auto;
    border: 1px solid #444;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #031eb6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #031eb6;
}

.button-container {
    text-align: center;
    margin-top: 30px; 
}

.button-link {
    text-decoration: none;
}

.form-group {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"], input[type="date"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

textarea {
    resize: vertical;
}


